.message.is-small.fullheight
  .message-header(style="z-index:9"): b Advanced Server Settings
  .message-body.nano: .nano-content

    .container.is-fluid
        br
        br

        .box
          p!= "<b>Log Channels: </b>"
          .columns
            .column
              br

              -var enastats = server.modules.LOGCHANNEL != undefined
              p All Logs

              .field.has-addons.level
                div.control.level-left: .select.was-small: select( disabled=!enastats ).unadvanced
                  each chan in svchans
                    if chan.id == server.modules.LOGCHANNEL
                      option(selected)= chan.name
                    else
                      option= chan.name


              input(type="checkbox" label="sadasdsad" ).advtog
              span  Split Logs
              br
              br
              br
              br
              .button.is-info.was-small#saveLogs Save
              span &#x2003
              .button.is-dark.was-small#cfgLogs Configure
            .column
              p Advanced
              .field.has-addons.level
                div.control.level-left: .select.was-small: select( disabled=enastats ).advanced
                  each chan in svchans
                    if chan.id == server.modules.ADVLOG
                      option(selected)= chan.name
                    else
                      option= chan.name


              p Activity
              .field.has-addons.level
                div.control.level-left: .select.was-small: select( disabled=enastats ).advanced
                  each chan in svchans
                    if chan.id == server.modules.ACTLOG
                      option(selected)= chan.name
                    else
                      option= chan.name


              p Moderation
              .field.has-addons.level
                div.control.level-left: .select.was-small: select( disabled=enastats ).advanced
                  each chan in svchans
                    if chan.id == server.modules.MODLOG
                      option(selected)= chan.name
                    else
                      option= chan.name


        .columns
            .column
              .box.generally-disabled
                p!= "<b>Spam-Buster: </b>"
                br
                .columns
                  .column
                    .level.is-marginless
                      span.level-left Anti-Flood
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="flood").disableCheck
                    .field.level.is-marginless
                      span Treshold
                      .control.level-right: input.thresflood.input.is-small(type="number" value=0 disabled=!server.modules.ANTISPAM)

                    .field.level.is-marginless
                      span.level-left Action to take
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresflood
                        option --NONE--
                        option(selected) mute
                        option kick
                        option ban
                    hr
                    small: i Penalises users for sending messages too fast. Threshold is the amount of messages within 3 seconds
                  .column
                    .level.is-marginless
                      span.level-left Anti-Mention-Spam
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="mention").disableCheck
                    .field.level.is-marginless
                      span Treshold
                      .control.level-right: input.thresmention.input.is-small(type="number" value=0 disabled=!server.modules.ANTISPAM)

                    .field.level.is-marginless
                      span.level-left Action to take
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresmention
                        option --NONE--
                        option(selected) mute
                        option kick
                        option ban
                    hr
                    small: i Penalises users for mentioning too much. Threshold is the amount of mentions (user or role) per message.
                  .column
                    .level.is-marginless
                      span.level-left Anti-Invite-Link
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM data-target="invite").disableCheck
                    .field.level.is-marginless
                      .control.level-right: .button.thresinvite.is-danger.is-small(style="pointer-events:none" disabled=!server.modules.ANTISPAM) Mod Bypass
                      span Ignore Mods
                      input.level-right(type="checkbox" checked=server.modules.ANTISPAM disabled=!server.modules.ANTISPAM).thresinvite

                    .field.level.is-marginless
                      span.level-left Action to take
                      div.control.level-right: .select.is-small: select( disabled=!server.modules.ANTISPAM).thresinvite
                        option --NONE--
                        option(selected) mute
                        option kick
                        option ban

                    hr
                    small: i Penalises users for posting invite links. Ignore Mods lets members of MODROLE and users with Admin permissions to bypass this.

        .level
          .level-item
          .level-right
            .button.is-success Save
            span &#x2003
            .button.is-danger.is-small Reset
        hr
        .columns

            .column
              script.
                function nuke(serv){

                   swal({
                        title: "Are you F*ing sure?",
                        text: "You are about to nuke your server and reset everything. Are you sure?",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonColor: "#d61c1c",
                        confirmButtonText: "No, take me out of here!",
                        cancelButtonColor: "#1c47d6",
                        cancelButtonText: "Yes, I'm sure",
                        closeOnConfirm: true,
                        closeOnCancel: false

                      }, function (isConfirm) {
                        if (isConfirm) {
                          return;
                        } else {
                          swal({
                        title: "Really?",
                        text: "Data will be lost FOREVER and cannot be restored. Do you really want to do that?",

                        showCancelButton: true,
                        confirmButtonColor: "#d61c1c",
                        confirmButtonText: "Ok, better not!",
                        cancelButtonColor: "#1c47d6",
                        cancelButtonText: "Just nuke it already",
                        closeOnConfirm: true,
                        closeOnCancel: false,
                        imageUrl:"https://openclipart.org/image/2400px/svg_to_png/253954/radioactive-transparent.png"


                      }, function (isConfirm) {
                        if (isConfirm) {
                          return;
                        } else {



                          var postage = $.post("/nuke", {
                                  server: serv
                                })
                                //==>
                                postage.done(function (res) {
                                  console.log(res)

                                  swal({
                                    title: res.t,
                                    text: res.m,
                                    type: res.s,
                                    confirmButtonColor: res.c,
                                    confirmButtonText: res.b,
                                    closeOnConfirm: true,
                                    imageUrl:"https://openclipart.org/image/2400px/svg_to_png/253954/radioactive-transparent.png"
                                    // showLoaderOnConfirm: true,
                                  })

                          })

                          }
                          })
                        }
                      })


                }
              .message.is-small.is-danger
                .message-header
                  p Danger Zone
                .message-body
                  h1: b Nuke Server
                  p This will wipe EVERY server-specific options and settings, achievements, bank items, cherry modules and all custom stuff and data will be lost forever, there's no way to revert this.

                  p Only the server owner can use issue a nuke.
                  .level
                    .level-item
                    .level-right
                      a(onclick="javascript:nuke("+server.id+")" style="text-decoration:none").navbar-right.button.is-danger.has-addons
                        span.icon.is-pulled-left
                          i.fa &#x2622
                        //span.divider  &#x2004
                        div( style="border-left:1px solid #844;border-right:1px solid #eee; opacity:.15;height:28px")
                        span.divider  &#x2000
                        span.is-pulled-right SEND NUKES
