.message.is-small.fullheight
  .message-header(style="z-index:9"): b Activity Logging Options
  .message-body.nano: .nano-content

    .container.is-fluid: .columns.is-marginless

      .column
        .message.is-small.is-success
          .message-header
            p=translation.website.activity ||  "Activity"
          .message-body
            ul
              li.level
                p=translation.website.userJoin || "User Joins Server"
                input(type="checkbox")

              li.level
                p=translation.website.userLeave || "User Leaves Server"
                input(type="checkbox")

              li.level
                p=translation.website.messDel || "Message Deleted"
                input(type="checkbox")

              li.level
                p=translation.website.messEdit || "Message Edited"
                input(type="checkbox")



        .message.is-small.is-info
          .message-header
            p=translation.website.moderation ||  "Moderation"
          .message-body
            ul
              li.level
                p=translation.website.usrKick || "User Kicked"
                input(type="checkbox")

              li.level
                p=translation.website.usrBan || "User Banned"
                input(type="checkbox")

              li.level
                p=translation.website.usrMute || "User Muted"
                input(type="checkbox")

              li.level
                p=translation.website.usrUnmute || "User Unmuted"
                input(type="checkbox")


      .column
        .message.is-small.is-warning
          .message-header
            p=translation.website.advanced ||  "Advanced"
          .message-body
            ul

              li.level
                p=translation.website.usrPhoto || "User Photo Changed"
                input(type="checkbox")

              li.level
                p=translation.website.usrNick || "User Name or Nick Changed"
                input(type="checkbox")

              li.level
                p=translation.website.usrRoles || "User Roles Updated"
                input(type="checkbox")

              li.level
                p=translation.website.newChan || "Channel Created"
                input(type="checkbox")

              li.level
                p=translation.website.delChan || "Channel Deleted"
                input(type="checkbox")

              li.level
                p=translation.website.newRole || "Role Created"
                input(type="checkbox")

              li.level
                p=translation.website.uptRole || "Role Updated"
                input(type="checkbox")

              li.level
                p=translation.website.revokeBan || "Ban Revoked"
                input(type="checkbox")

              li.level
                p=translation.website.permsEdit || "Permissions Edited"
                input(type="checkbox")




