div.message-body
  each g in guilds
      if g.present !== true && g.perms != "owner"
        -var p = "nopePol"
      else
        -var p = "yepPol"
      div.card.gcard
        div.hexContainer
          div.smolHex(class=p style="background-image:url('"+g.icon+"')")
            div.shexTop
            div.shexBottom
        //img.is-round(src=g[0] width="48px")
        p.mid(class=p)= g.name
        div(class=`${pres}`)
          div.flair(class=g.perms title=`You are a ${g.perms} in this Server`)
        if g.perms != "idk" && g.perms != "commoner" && g.present
          a(href="/myGuilds/"+g.id)
            button.button.is-small.manage Manage
          div.hasPollux
        if g.perms == "owner" && !g.present
          a(href="https://goo.gl/qkGqqU")
            button.button.is-small.is-primary.is-outlined.addme Add Pollux to this Server
          div.hasPollux.no
